<form action="?action=addaction" method="post">
<br><input type="text" name="title" placeholder="Title"/>
<br>
    <select name="genre">
        <option value="1">Action/Adventure</option>
        <option value="2">First-Person-Shooter</option>
        <option value="3">MMO</option>
        <option value="4">Puzzle</option>
        <option value="5">RPG</option>
        <option value="6">Sandbox</option>
        <option value="7">Simulation</option>
        <option value="8">Survival Horror</option>
    </select>
<br>

    <select name="platform">
        <option value="1">Cross-Platform</option>
        <option value="2">Xbox One</option>
        <option value="3">Xbox 360</option>
        <option value="4">Playstation 4</option>
        <option value="5">Playstation 3</option>
        <option value="6">Playstation</option>
        <option value="7">PC</option>
        <option value="8">PC/Mac</option>
        <option value="9">Nintendo 64</option>
        <option value="12">Mobile</option>
        <option value="13">Android</option>
        <option value="14">iOS</option>
    </select>
<br><input type="submit" value="Add"/>
</form>